// colors

$bg-color:#1cA5;

$primary_color:#fff;
$primary_text-color:darkred;

$secondary_text-color:#333;
$secondary_text-color-light:#777;
$secondary_color:#55c57a;
$secondary_color_light:#7ed56f;
$secondary_color_dark:#28b485;



$tertiary:orangered;
$tertiary_color_dark:#5643fa;
$tertiary_text-color:#000;
$text_color:#999;

// fonts

$default_font-size:1.6rem;