.admin_container{
    margin: 1rem;
}

.admin_header{
    display: flex;
    align-items: center;
    background-color: $secondary_text-color;
    padding: 1rem .5rem;
    

    &_name{
        &_style{
            color: $primary_color;
            text-transform: uppercase;
        }

        &_span{
            color: $primary_text-color;
        }
    }

    &_container{
        margin-left: auto;
        text-transform: uppercase;

        &-btn{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            color: $primary_color;
            padding: 0 .5rem;
        }
    }  
}

.sidebar{
    background-color: $secondary_text-color-light;
    height: 100vh;
    width: 20rem;
    padding-top: 3rem;
    &-header{
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid;
    }

    &_anchor{
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        padding: .6rem 3rem;
        font-weight: 400;
        color: $secondary_text-color;
        &:hover{
            background-color: $secondary_text-color;
            color: $primary_color;
        }
    }
}