.admin_container{
    margin: 1rem;
}

.admin_header{
    display: flex;
    align-items: center;
    background-color: $secondary_text-color;
    padding: 1rem .5rem;
    

    &_name{
        &_style{
            color: $primary_color;
            text-transform: uppercase;
        }

        &_span{
            color: $primary_text-color;
        }
    }

    &_container{
        margin-left: auto;
        text-transform: uppercase;

        &-btn{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            color: $primary_color;
            padding: 0 .5rem;
        }
    }  
}

.sidebar{
    background-color: $secondary_text-color-light;
    height: 100vh;
    width: 20rem;
    padding-top: 5rem;

    &_anchor{
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 4rem;
        font-weight: 700;
        color: $primary_color;

    }
}