
.form{
    

    &__header{
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    


    &__group:not(:last-child){
        margin-bottom: 1rem;
       
    }

    &__input{
        font-size: 1rem;
        font-family: inherit;
        color: $secondary_text-color;
        padding: .5rem .5rem;
        border-radius: 5px;
        background-color: rgba($primary_color, .5);
        border: none;
        border-bottom: 4px solid transparent;
        width: 15rem;
        display: block;
        transition: all .2s;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($tertiary_text-color, .3);
            border-bottom: 4px solid $secondary_color_dark;
        }

        &:focus:invalid{
            border-bottom: 4px solid $tertiary;
        }

        &::-webkit-input-placeholder{
            color: $text_color;
        }
    }
    

    &__label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all 1s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-1rem);
    }
}

//smaller and medium devices

@media(max-width:990px){
    .container{
        text-align: center;
    }

    .form{
        text-align: center;

        &__header{
            font-size: 1rem;
            text-align: center;
        }
    }
}