.assessment{
    
    &_header{
        text-transform: uppercase;
        text-align: center;
        padding-top: .5rem;
    }
    
    .form{
        text-align: left;
        text-transform: uppercase;

        &_hospitalization{
            display: block;
        }

        &_neurological_header{
            text-align: center;
        }

        &_neurological-sub{
            display: flex;
        }
        &_neurological_perception{
            display: flex;
            margin-bottom: 1rem;
        }

        &_neurological_migraine{
            display: flex;
        }

        &_neurological_history{
            width: 50%;
        }

        &_neurological_assessment{
            width: 50%;
        }

        &_respiratory_header{
            text-align: center;
        }
        &_respiratory_sub{
            display: flex;

            &-history{
                width: 50%;
            }

            &-history-flex{
                display: flex;
                margin-bottom: .5rem;
            }

            &-assessment{
                width: 50%;

                &-breathing{
                    margin-bottom: .5rem;
                }
            }

            &-assessment-flex{
                display: flex;
                margin-bottom: .5rem;
            }
        }
        &_cardiovascular{
            &_header{
                text-align: center;
            }

            &_sub{
                display: flex;

                &_history{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
                &_assessment{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
            }
        }
        &_musculoskeletal{
            &_header{
                text-align: center;
            }

            &_sub{
                display: flex;

                &_history{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
                &_assessment{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                    &_ADL-margin-top{
                        margin-top: .5rem;
                    }
                }
            }
        }
        &_genitourinary{
            &_header{
                text-align: center;
            }

            &_sub{
                display: flex;

                &_history{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
                &_assessment{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
            }
        }
        &_skin{
            &_header{
                text-align: center;
            }

            &_sub{
                display: flex;

                &_history{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
                &_assessment{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
            }
        }
        &_gastrointestinal{
            &_header{
                text-align: center;
            }

            &_sub{
                display: flex;

                &_history{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
                &_assessment{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
            }
        }
        &_psychosocial{
            &_header{
                text-align: center;
            }

            &_sub{
                display: flex;

                &_history{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                    &-underline{
                        border-bottom: 2px solid $secondary_text-color  ;
                    }
                }
                &_assessment{
                    width: 50%;
                    &-flex{
                        display: flex;
                    }
                }
            }
        }
        &_defence_mechanism{
            &_header{
                text-align: center;
            }
        }
        &_pain_assessment{
            &_header{
                text-align: center;
            }
        }
        &_psychosocial_support{
            &_header{
                text-align: center;
            }
        }
    }
}


@media(max-width:990px){
    .from_neurological-block{
        display: block;
    }
}