.primary_button{
    text-transform: uppercase;
    text-decoration: none;
    margin:2rem 2rem;
    display: block;
    font-family: serif;
    font-weight: 700;
    animation-name: fadeIn-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    color: $primary_text-color;
}