.referral{


    &__header{
        text-transform: uppercase;
        text-align: center;
        color: $secondary_text-color;
    }

    .form{

        &_group:not(:last-child){
            margin-bottom: 1rem;
        }

        &_input{
            font-size: 1rem;
            font-family: inherit;
            color: $secondary_text-color;
            padding: .5rem 1.5rem;
            border-radius: 5px;
            background-color: rgba($primary_color, .5);
            border: none;
            border-bottom: 4px solid transparent;
            width: 15rem;
            transition: all .2s;

            &:focus{
                outline: none;
                box-shadow: 0 1rem 2rem rgba($tertiary_text-color, .3);
                border-bottom: 4px solid $secondary_color_dark;
            }
    
            &:focus:invalid{
                border-bottom: 4px solid $tertiary;
            }
    
            &::-webkit-input-placeholder{
                color: $text_color;
            }
        }

        &_adjust_input{
            width: 50%;
        }

        &_label{
            padding: 1rem;
            text-transform: capitalize;
            color: $secondary_text-color;
        }
    }
}

