.test_result-header{
    text-transform: uppercase;
    text-align: center;
    color: $secondary_text-color;
}

.form{

    &_section-tittle{
        text-transform: uppercase;
        color: $secondary_text-color;
    }

    &_group:not(:last-child){
        margin-bottom: 1rem;
    }

    &_input{
        font-size: 1rem;
        font-family: inherit;
        color: $secondary_text-color;
        padding: .2rem .2rem;
        border-radius: 5px;
        background-color: rgba($primary_color, .5);
        border: none;
        border-bottom: 4px solid transparent;
        width: 15rem;
        transition: all .2s;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($tertiary_text-color, .3);
            border-bottom: 4px solid $secondary_color_dark;
        }

        &:focus:invalid{
            border-bottom: 4px solid $tertiary;
        }

        &::-webkit-input-placeholder{
            color: $text_color;
        }
    }

    &_label{
        padding: .5rem;
        text-transform: uppercase;
        color: $secondary_text-color;
    }    

    &_exam_type{
        text-transform: uppercase;
        color: $secondary_text-color;
    }

    &_optional_disease{
        margin-top: 1rem;
    }

    &_jaundice_main{
        display: flex;
        padding: 1rem;
        color: $secondary_text-color;
    }

    &_jaundice_sub{
        padding-left: .5rem;
        text-align: center;
    }

    .edema{
        display: flex;
        text-transform: uppercase;
        color: $secondary_text-color;

        &_sub{
            padding-left: .5rem;
            text-align: center;
        }
    }

    &_group{
        margin-top: .6rem;
    }

    &_adjust{
        margin-top: .6rem;
    }

}